<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="css/viewer.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="raceStatus" class="hide">
  </div>
  <div class="centerInfo">

    <h2 id="actualHorse"></h2>

    <table id="raceTable">
      <th>Horse name</th>
      <th>Start number</th>
    <table>

    <table id="lastMarks">
      <th>T</th>
      <th>G</th>
      <th>K</th>
      <th>N</th>
      <th>R</th>
    </table>

    <table id="finalRanking">
      <th class="title">Final ranking</th>
      <th>Horse name</th>
      <th>Average points</th>
      <th>Average T</th>
      <th>Average R</th>
    </table>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/javascripts/viewer.js"></script>
</body>
</html>
