<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="css/judge.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="judgingPanel">
    Judging panel
  </div>

  <div id="zegar"></div>
  <div id="judgeContainer">
  </div>

  <div id="judgeTable">
  </div>

  <div id="judgeLogin" class="hide">
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/javascripts/judge.js"></script>
</body>
</html>
