<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link href="css/race.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="centerContainer">
    <input type="submit" id="start" value="Start race"/>
    <input type="submit" id="letHorse" value="Let horse"/>
  </div>

  <div id="waitingForJudgesBlock">
    <div id="waitingForJudges" class="hide">
    </div>
  </div>

  <div id="raceInfoBlock">
    <div id="raceInfo" class="hide">
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/lib/jquery.min.js"></script>
  <script src="/javascripts/race.js"></script>
</body>
</html>
