body {
  background-color: #1f1f1f;
  color: #dedede;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.judgeInvite {
  background: green;
  color: #eaeaea;
  border-radius: 4px;
  padding: 10px 20px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
}

#raceTable {
  display: none;
}

#judgeLogin {
  display: none;
}

#judgeTable {
  display: none;
}

#lastMarks {
  display: none;
}
