@bodyColor: #1f1f1f;
@bodyFontColor: #dedede;

@white: #fff;
@red: red;
@darkGrey: #2f2f2f;

@h2-font-size: 30px;
@login-password-background: #7D7C7C;
@login-submit-background: #AFADAD;

body {
  font: 13px Century Gothic,arial,sans-serif;
  background: @bodyColor url("../images/horse2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: @bodyFontColor;
}

input[type="submit"] {
  cursor: pointer;
}

#judgingPanel {
  color: #fff;
  border: 1px dashed red;
  padding: 10px 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
  position: absolute;
  top: 50%;
  margin-top: -42.5px;
  left: 50%;
  margin-left: -219.5px;
  font-size: 50px;
  text-transform: uppercase;
}

#judgeContainer {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);

    .judgeInvite {
      display: inline-block;
      position: absolute;
      left: 50%;
      margin-left: -254px;
      top: 50%;
      margin-top: -59px;

      h2 {
        font-size: @h2-font-size;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 4px;
        background-color: @darkGrey;
        color: @white;
      }

      input[type="submit"] {
        background: transparent !important;
        border: none !important;
        font-size: @h2-font-size;
        color: @darkGrey;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        width: 30%;
        margin-right: 10%;
        margin-left: 10%;
        padding-bottom: 10px;
        cursor: pointer;
        border-bottom: 1px dashed @bodyColor !important;

        &:hover {
          border-bottom: 1px dashed @red !important;
        }
      }
    }
}

.waitingFor {
  margin-left: -326.5px !important;
}

.clock {
  margin-left: -266px !important;
}

#judgeLogin {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -206px;
  top: 50%;
  margin-top: -96.5px;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border: 4px solid @white;
  h2 {
    font-size: @h2-font-size+15;
    color: #D6D6D6;
    background: @white;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
  }

  input[type="password"], input[type="submit"] {
    padding: 10px 20px !important;
    font-size: 20px !important;
    border-radius: 4px !important;
    border: none !important;
  }

  input[type="password"] {
    background: @login-password-background;
    color: @white;
    margin-right: 20px !important;
  }

  input[type="submit"] {
    color: @login-submit-background;
    background: @white;
  }
}

input[type=range] {
    -webkit-appearance: none;
    padding: 5px 10px;
    background-color: rgba(68, 68, 68, 0.7);
    border: 1px dashed @red;
    width: 60%;
    color: @white;
    border-radius: 4px;
    height:25px;
    margin-bottom: 25px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: @red;
    opacity: 0.8;
    cursor: pointer;
    width: 15px;
    border-radius: 100%;
    height: 15px;
}

#judgeTable {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
  margin-top: -214px;

  input[type="submit"] {
    width: 61.5%;
    background-color: @red;
    text-transform: uppercase;
    border-radius: 4px;
    border: none !important;
    padding: 15px 0;
    font-weight: bold;
    color: @white;
    &:active {
      background-color: @white;
      color: @red;
    }
  }

  .category {
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding: 5px 10px;
    font-weight: bold;
    height: 25px;
    width: 40px;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    background: @darkGrey;
    color: @white;
  }

  .rangeValue {
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    padding: 5px 10px;
    height: 25px;
    width: 40px;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    background: @darkGrey;
    color: @white;
  }

  h2 {
    font-size: 25px;
    color: @white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
}

.hide {
  display: none !important;
}
