@bodyColor: #1f1f1f;
@bodyFontColor: #dedede;

@white: #fff;
@red: red;
@darkGrey: #2f2f2f;

@h2-font-size: 30px;
@login-password-background: #7D7C7C;
@login-submit-background: #AFADAD;

body {
  font: 13px Century Gothic,arial,sans-serif;
  background: @bodyColor url("../images/horse2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: @bodyFontColor;
}

.centerContainer {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-top: -110px;
  margin-left: -201.5px;

    input[type="submit"] {
      cursor: pointer;
      background-size: 150px 150px;
      background-position: center top;
      width: 200px;
      height: 220px;
      margin-right: 100px;
      text-transform: uppercase;
      font-size: 30px;
      color: @white;
      line-height: 380px;
      background-repeat: no-repeat;
      background-color: transparent !important;
      border: none !important;

      &:enabled:hover {
        border-bottom: 1px dashed @red !important;
      }
    }

    input[type="submit"]#start {
      background-image: url("../images/on.png");
      &:hover {
        background-image: url("../images/on_hover.png");
      }
      &:disabled {
        cursor: default;
        background-image: url("../images/on_disabled.png");
      }
    }

    input[type="submit"]#letHorse {
      background-image: url("../images/next.png");
      &:hover {
        background-image: url("../images/next_hover.png");
      }
      &:disabled {
        cursor: default;
        background-image: url("../images/next_disabled.png");
      }
    }
}

#waitingForJudges {
  display: inline-block;
  background-color: @darkGrey;
  padding: 10px 20px;
  border-radius: 4px;
  color: @white;
}

#raceInfo {
  margin-top: 10px;
  display: inline-block;
  background-color: @white;
  padding: 10px 20px;
  border-radius: 4px;
  color: @darkGrey;
}

.hide {
  display: none !important;
}
