@bodyColor: #1f1f1f;
@bodyFontColor: #dedede;

@white: #fff;
@black: #000;
@red: red;
@darkGrey: #2f2f2f;

@h2-font-size: 30px;
@login-password-background: #7D7C7C;
@login-submit-background: #AFADAD;

@title: #74E251;

body {
  font: 13px Century Gothic,arial,sans-serif;
  background: @bodyColor url("../images/horse2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: @bodyFontColor
}

#raceStatus {
  display: inline-block;
  position: absolute;
  display: inline-block;
  font-size: 50px;
  text-transform: lowercase;
  top: 50%;
  left: 50%;
  margin-top: -42px;
  margin-left: -307px;
  color: @white;
  border: 1px dashed @red;
  padding: 10px 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

#raceTable, #actualHorse, #lastMarks, #finalRanking {
  display: none;
}

.hide {
  display: none !important;
}

.centerInfo {
  background: #1f1f1f;
  position: absolute;
  left: 50%;
  margin-top: -250px;
  top: 50%;
  min-width: 80%;
  margin-left: -40%;
  border-radius: 4px;
  min-height: 500px;
  display: none;
  h2 {
    color: #eaeaea;
    padding: 15px 20px;
    margin: 0;
    font-weight: normal;
    .actualHorse {
      color: @red;
    }
    .currently {
      border-bottom: 1px dashed @red;
      padding-bottom: 5px;
    }
  }
}

#raceTable {
  border-collapse: 0 !important;
  border-spacing: 0 !important;
  width: 40%;
  background: @darkGrey;
  float: left;
  th {
    background: @black;
    padding: 10px 20px;
  }
  td {
    padding: 10px 20px;
    text-align: center;
  }
}

#lastMarks {
  border-collapse: 0 !important;
  border-spacing: 0 !important;
  width: 60%;
  color: @white;
  background: #3f3f3f;
  th {
    background: @black;
    padding: 10px 20px;
  }
  td {
    padding: 10px 20px;
    text-align: center;
  }
}

#finalRanking {
  border-collapse: 0 !important;
  border-spacing: 0 !important;
  margin: 0;
  width: 100%;
  background: @black;
  th {
    background: @black;
    padding: 10px 20px;
  }
  td {
    background: @darkGrey;
    padding: 10px 20px;
    text-align: center;
  }
  .title {
    color: @title;
  }
}
